.card {
  width: 200px;

  cursor: pointer;
}

.card img:hover {
  -webkit-filter: grayscale(0.5);
}

.to-delete img:hover {
  filter: grayscale(50%) brightness(40%) sepia(90%) hue-rotate(-50deg) saturate(400%) contrast(0.8);
}
