.editor {
  background-color: var(--editor-bg);
  border: solid rgb(203, 203, 203) 1px;
  justify-content: flex-start;
}

.editor-controller {
  flex-basis: 90%;
}

.move-txt-btns {
  margin: auto;
  margin-top: 3rem;
  width: 70%;
  justify-content: space-evenly;
}

.move-txt-btn {
  background-color: var(--brand-clr);
  font-size: 1.5rem;
  border: none;
  color: white;
  padding: 2rem;
}
.save-meme {
  justify-content: space-between;
}

.save-meme-btn {
  margin-bottom: 2rem;
  padding: 1rem 0;
  width: 130px;
  color: white;
  border: none;
  background-color: var(--brand-clr);
}

.save-meme-btn:hover {
  background-color: rgb(181, 59, 59);
}
