.editor {
  background-color: var(--editor-bg);
  border: solid rgb(203, 203, 203) 1px;
  justify-content: flex-start;
}

.editor-controller {
  flex-basis: 20%;
}

.save-meme {
  justify-content: space-between;
}

.save-meme-btn {
  margin-bottom: 2rem;
  /* padding: 1rem 0; */
  height: 45px;
  width: 45px;
  color: white;
  background-color: var(--brand-clr);
  border: none;
}
.share-and-download .save-meme-btn {
  padding: 0;
  height: 45px;
  border-radius: 50%;
}
.save .save-meme-btn {
  width: 150px;
  color: white;

  background-color: var(--brand-clr);
}

.save-meme-btn:hover {
  color: white;
  background-color: rgb(228, 74, 74);
}
