.gallery-section {
  margin: auto;
  width: 90%;
}

.gallery-container {
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.search-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--main-txt-clr);
  text-align: center;
  margin-block: 2rem;
}

.search-form {
  margin-bottom: 3rem;
  justify-content: center;
}
.input-search {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: solid var(--editor-txt-clr) 0.4px;
  padding: 1rem;
}

.search-btn {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background-color: var(--brand-clr);
  color: white;
  border: solid var(--editor-txt-clr) 0.4px;

  padding: 0 1.4rem;
}
