header {
  /* border-bottom: solid var(--main-txt-clr) 1px; */

  box-shadow: 0px 1px 0px #dbdbdb;
}

.logo h2 {
  font-size: 2.5rem;
  margin-inline-start: 1rem;
  color: var(--main-txt-clr);
  cursor: pointer;
}

.logo-svg {
  width: 30px;
  cursor: pointer;
}

.main-header {
  margin: auto;
  width: 90%;
  justify-content: space-between;
}

.nav {
  font-size: 1.6rem;
  line-height: 5vh;
}

.nav-link {
  cursor: pointer;
  margin-inline-start: 5rem;
  color: var(--main-txt-clr);
  transition: color 0.4s;
  transition: box-shadow 0.4s;
}

.nav-link-active {
  color: var(--brand-clr);
}

.nav-link:hover {
  color: var(--brand-clr);
}

.nav-link-active {
  color: var(--brand-clr);
  box-shadow: inset 0px -3px var(--brand-clr);
}
