.editor-section {
  height: 95vh;
}

.canvas-container {
  flex-basis: 70%;
}

.editor {
  flex-basis: 30%;
}

.saved-meme-msg {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 200px;
  transform: translate(-50%, -50%);
  background-color: aliceblue;

  opacity: 0;
  transition: opacity 0.6s;
  border-radius: 1rem;
}

.show-msg {
  opacity: 1;
}
