.text-editor {
  border: solid rgb(203, 203, 203) 1px;
  border-radius: 4px;
  padding: 1rem;
}

.text-editor input {
  line-height: 3rem;
  font-size: 1.6rem;
  border: none;

  padding: 1rem 0;
}

.toolbar {
  box-shadow: 0px 1px 0px #dbdbdb;
}

.toolbar select {
  border: none;
  height: 3rem;
  flex-basis: 30%;
}

.toolbar-btn {
  border: none;
  width: 30px;
}

.lines-settings {
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.lines-settings h2 {
  font-size: 2rem;
  color: var(--editor-txt-clr);
  font-weight: 400;
}

.line-feature-btn {
  padding: 1rem;
  color: var(--editor-txt-clr);
  border: none;
  background: none;
}

.line-feature-btn:hover {
  color: var(--main-txt-clr);
}
.lines-toolbar h2 {
  color: gray;
}

.lines-toolbar .curr-line {
  color: var(--main-txt-clr);
}
.line-toolbar-item {
  margin-inline-start: 1rem;
}
.toolbar {
  padding: 1rem 0;
}

.text-toolbar-item {
  margin-inline-end: 1rem;
}

.change-color-btn label {
  cursor: pointer;
}

.input-change-color {
  width: 0;
  height: 0;
  opacity: 0;
}

input[type='text'],
input[type='button'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
