.text-editor input {
  line-height: 3rem;
  font-size: 1.6rem;
  border: none;
}

.toolbar {
  border-bottom: solid var(--main-txt-clr) 1px;
}

.toolbar select {
  border: none;
  height: 3rem;
  flex-basis: 30%;
}

.toolbar-btn {
  border: none;
  width: 30px;
}

.lines-settings {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.lines-settings h2 {
  font-size: 2rem;
}

.add-line-btn {
  padding: 1rem;
  color: white;
  border: none;
  background-color: var(--brand-clr);
}
.lines-toolbar h2 {
  color: gray;
}

.lines-toolbar .curr-line {
  color: var(--main-txt-clr);
}
.line-toolbar-item {
  margin-inline-start: 1rem;
}
